@page
@model TimeLog.Pages.Activities.IndexModel

@{ViewData["Title"] = "Index";}
<h1>Activities</h1>

<div class="d-flex">
    <div class="p-3 bg-primary"><a asp-page="Create" class="btn btn-link"><i class="fa fa-plus"></i> Create New</a></div>
    <div class="p-3 bg-primary flex-grow-1">
        <form method="post">
            <button type="submit" class="btn btn-link" asp-page-handler="Export">Export</button>
        </form>
    </div>
    <div class="p-3 bg-primary flex-grow-1"><a asp-page="Report" class="btn-link">Report</a></div>
    <div class="p-3 bg-primary">
        <form asp-page="./Index" method="get">
            <div class="input-group">
                <span class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-right-0 border"><i class="fa fa-search"></i></div>
                </span>
                <input class="form-control py-2 border-left-0 border" type="search" name="SearchString" value="@Model.CurrentFilter" />
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table activity">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                        Date
                    </a>
                </th>
                <th>Duration</th>
                @*<th>Duration</th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ActivityEntities[0].ActivityTypeId)/@Html.DisplayNameFor(model => model.ActivityEntities[0].Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityEntities[0].Tasks)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActivityEntities)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        @if (item.EndTime == null)
                        {
                            <a asp-page-handler="Finish" asp-route-id="@item.Id"><i class="fa fa-flag-checkered" title="Finish"></i></a>
                        }
                    </td>
                    <td>
                        @if (item.EndTime != null)
                        {
                            <a asp-page-handler="Duplicate" asp-route-id="@item.Id"><i class="fa fa-clone" title="Resume"></i></a>
                        }
                    </td>
                    <td>
                        <span>
                            @item.Date.ToString("yyyy/MM/dd")
                        </span>
                        <span>
                            @item.StartTime.ToString("HH:mm")-
                            @if (item.EndTime.HasValue)
                            {
                                @item.EndTime.Value.ToString("HH:mm")
                            }
                        </span>
                    </td>
                    <td>
                        @Model.MyConvert(item.DurationSec)
                    </td>
                    @*<td>
                            @if (item.EndTime.HasValue)
                            {
                                @item.EndTime.Value.Subtract(@item.StartTime)
                            }
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.Name)<br />
                        @if (!string.IsNullOrEmpty(item.Client.Name))
                        {
                            <span class="client-display-small">@Html.DisplayFor(modelItem => item.Client.Name)</span>
                        }
                    </td>
                    <td>
                        <div class="short-task-display">
                            @if (!string.IsNullOrEmpty(item.Project.Name))
                            {
                                <span class="project-display-small">@Html.DisplayFor(modelItem => item.Project.Name)</span><br />
                            }
                            @Html.Raw(item.Tasks)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Billable)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id" title="Delete"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>