@page
@model TimeLog.Pages.Activities.ReportModel
@{ ViewData["Title"] = "Report";}
<h1>Activities</h1>

<form method="post">
    <div class="d-flex">
        <div class="p-3 bg-primary"></div>
        <div class="p-3 bg-primary">
            <select asp-for="SelectedTimeFrame" class="form-control" asp-items="@Model.TimeFramesSelectList"></select>
        </div>
        <div class="p-3 bg-primary flex-grow-1">
            <button type="submit" class="btn btn-link" asp-page-handler="TimeFrame">Go</button>
        </div>

        <div class="p-3 bg-primary">
            <div><span>Start: @Html.DisplayFor(model => model.StartTime)</span></div>
            <div><span>End: @Html.DisplayFor(model => model.EndTime)</span></div>
        </div>
    </div>
</form>

<fieldset>
    <legend>Billable By Day</legend>
    <div class="table-responsive">
        <table class="table activity-d">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th></th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReportDetailsByDay.ToList())
                {
                    <tr class="@item.DayOfWeek.ToString().ToLower()">
                        <td>@item.StartDay.ToString("yyyy/MM/dd")</td>
                        <td>
                            @foreach (var child in Model.ReportDetails.Where(x => x.StartDay.Year == item.StartDay.Year &&
                                                                               x.StartDay.Month == item.StartDay.Month &&
                                                                               x.StartDay.Day == item.StartDay.Day)
                                                                   .OrderBy(x => x.Client.Name)
                                                                   .ThenBy(x => x.Project.Name).ToList())
                            {
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:60%">@child.Client.Name @child.Project.Name</td>
                                        <td style="width:20%">@child.StartTime.ToString(@"hh\:mm")-@child.EndTime.ToString(@"hh\:mm")<br /></td>
                                        <td style="width:20%">@child.RoundedHours.ToString("0.00")</td>
                                    </tr>
                                </table>
                            }
                        </td>
                        <td>@item.Hrs.ToString("0.00")</td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>Total Hours</td>
                    <td>@Model.ReportDetailsByDay.Sum(x => x.Hrs).ToString("0.00")</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td>@Model.ReportDetailsByDay.Sum(x => x.Amt).ToString("0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>

<fieldset>
    <legend>Billable By Day Formatted</legend>
    <div class="d-flex">
        <div class="p-2">
            <div class="table-responsive">
                <table id="TableBillableByDayFormatted" class="table activity-d-formatted">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Hours</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ReportDetailsByDay.ToList())
                        {
                            <tr>
                                <td>@item.StartDay.ToString("yyyy/MM/dd")</td>
                                <td>
                                    <table>
                                        @foreach (var child in Model.ReportDetails.Where(x => x.StartDay.Year == item.StartDay.Year && x.StartDay.Month == item.StartDay.Month && x.StartDay.Day == item.StartDay.Day).OrderBy(x => x.Client.Name).ThenBy(x => x.Project.Name).ToList())
                                        {
                                            <tr>
                                                <td>@child.Project.Name</td>
                                                <td style="width:20%">@child.StartTime.ToString(@"hh\:mm")-@child.EndTime.ToString(@"hh\:mm")<br /></td>
                                                <td style="width:20%">@child.RoundedHours.ToString("0.00")</td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td>@item.Hrs.ToString("0.00")</td>
                                <td></td>
                            </tr>
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total Hours</td>
                            <td>@Model.ReportDetailsByDay.Sum(x => x.Hrs).ToString("0.00")</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td></td>
                            <td>@Model.ReportDetailsByDay.Sum(x => x.Amt).ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-2"><span id="ButtonBillableByDayFormattedButton" style="cursor:pointer;"><i class="fa fa-copy"></i></span></div>
    </div>
</fieldset>

<fieldset>
    <legend>Billable By Project</legend>
    <div class="table-responsive">
        <table class="table activity-r">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Clients[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Projects[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Report[0].Duration)</th>
                    <th>@Html.DisplayNameFor(model => model.Report[0].BillableAmount)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Report)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Client.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                        <td>@Html.DisplayFor(modelItem => item.BillableAmount)</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>@Model.Report.Sum(x => x.Duration).ToString("0.00")</td>
                    <td>@Model.Report.Sum(x => x.BillableAmount).ToString("0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>

<fieldset>
    <legend>Billable By Project Formatted</legend>
    <div class="d-flex">
        <div class="p-2">
            <div class="table-responsive">
                <table id="TableBillableByProjectFormatted" class="table activity-r-formatted">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Hours</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Report)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                                <td>@Html.DisplayFor(modelItem => item.BillableAmount)</td>
                            </tr>
                        }
                        <tr>
                            <td>TOTAL</td>
                            <td>@Model.Report.Sum(x => x.Duration).ToString("0.00")</td>
                            <td>@Model.Report.Sum(x => x.BillableAmount).ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-2">
            <span id="ButtonBillableByProjectFormatted" style="cursor:pointer;"><i class="fa fa-copy"></i></span>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Billable Tasks</legend>
    <div class="table-responsive">
        <table class="table activity-rt">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Times</th>
                    <th>Duration</th>
                    <th>@Html.DisplayNameFor(model => model.ReportDetails[0].ActivityTypeId)/@Html.DisplayNameFor(model => model.ReportDetails[0].Client)</th>
                    <th>@Html.DisplayNameFor(model => model.ReportDetails[0].Tasks)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReportDetails.ToList())
                {
                    switch (item.StartDay.DayOfWeek)
                    {
                        case DayOfWeek.Monday:
                            @Html.Raw("<tr class='monday'>")
                            break;
                        case DayOfWeek.Tuesday:
                            @Html.Raw("<tr class='tuesday'>");
                            break;
                        case DayOfWeek.Wednesday:
                            @Html.Raw("<tr class='wednesday'>");
                            break;
                        case DayOfWeek.Thursday:
                            @Html.Raw("<tr class='thursday'>");
                            break;
                        case DayOfWeek.Friday:
                            @Html.Raw("<tr class='friday'>");
                            break;
                        case DayOfWeek.Saturday:
                            @Html.Raw("<tr class='saturday'>");
                            break;
                        case DayOfWeek.Sunday:
                            @Html.Raw("<tr class='sunday'>");
                            break;
                        default:
                            @Html.Raw("<tr>");
                            break;
                    }
                <td>
                    <a asp-page="/Activities/Details" asp-route-id="@item.Id" target="_blank">
                        <span>@item.StartDay.ToString("yyyy/MM/dd")</span>
                        <span>@item.StartDay.DayOfWeek</span>
                    </a>
                </td>
                <td><span>@item.StartTime.ToString(@"hh\:mm")-@item.EndTime.ToString(@"hh\:mm")</span></td>
                <td>@item.RoundedHours.ToString("0.00").Replace("0.00", "")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.Name)<br />
                    @if (!string.IsNullOrEmpty(item.Client.Name))
                    {
                        <span class="client-display-small">@Html.DisplayFor(modelItem => item.Client.Name)</span>
                    }
                </td>
                <td>
                    <div class="short-task-display">
                        @if (!string.IsNullOrEmpty(item.Project.Name))
                        {<span class="project-display-small">@Html.DisplayFor(modelItem => item.Project.Name)</span><br />}@if (!string.IsNullOrEmpty(item.InvoiceStatement))
                        {@Html.Raw(item.InvoiceStatement)}
                    else
                    {<span class="alert-danger">Tasks:</span>@Html.Raw(item.Tasks)}
                    </div>
                </td>

                @Html.Raw("</tr>");
            }
                </tbody>
            </table>
        </div>
    </fieldset>

    <fieldset>
        <legend>Billable Tasks Formatted</legend>
        <div class="d-flex">
            <div class="p-2">
                <div class="table-responsive">
                    <table id="TableBillableTasksFormatted" class="table activity-rt-formatted">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Project/Type</th>
                                <th>@Html.DisplayNameFor(model => model.ReportDetails[0].InvoiceStatement)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ReportDetails.ToList())
                            {
                                <tr>
                                    <td><span>@item.StartDay.ToString("yyyy/MM/dd")</span></td>
                                    <td>@item.RoundedHours.ToString("0.00").Replace("0.00", "")</td>
                                    <td>@Html.Raw(item.ProjectAndType)</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.InvoiceStatement))
                                        {@Html.Raw(item.InvoiceStatement)}
                                    else
                                    {<span class="alert-danger">Tasks:</span>@Html.Raw(item.Tasks)}
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-2">
                <span id="ButtonBillableTasksFormatted" style="cursor:pointer;"><i class="fa fa-copy"></i></span>
            </div>
        </div>
    </fieldset>