@page
@model TimeLog.Pages.Activities.ReportModel
@{ ViewData["Title"] = "Report";}
<h1>Activities</h1>

<div class="d-flex">
</div>

<div class="table-responsive">
    <table class="table activity">
        <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ReportDetailsByDay[0].StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDetailsByDay[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDetailsByDay[0].Hrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDetailsByDay[0].Amt)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ReportDetailsByDay)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hrs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amt)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table activity">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Billable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].BillableAmount)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Billable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillableAmount)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>