@page
@model TimeLog.Pages.Invoices.DetailsModel

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.RowVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.PurchaseOrderNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.PurchaseOrderNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.ContactId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.ContactId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.AddressId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.AddressId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TotalHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TotalHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.PublicNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.PublicNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.PrivateNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.PrivateNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.SubmittedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.SubmittedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.SubmitTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.SubmitTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoice.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
