@page
@model TimeLog.Pages.Invoices.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].PurchaseOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].ContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].AddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].TotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].PublicNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].PrivateNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].SubmittedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].SubmitTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
